*{
    margin: 0px;
    padding: 0px;
    
}

.container{
    width: 80%;
    margin: 0 auto;
}

.logo{
    height: 60px;
    
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}



nav li{
    display: inline-block;
    padding: 20px 0;
    margin-right: 10px;
}

nav li a{
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
}
.background-grigio{
    background-color:rgba(0, 0, 0, 0.3) ;
    border-radius: 15px;
    height: 100%;
}

.jumbotron{
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    opacity: 0.8;
}

#jumbo-title{
    font-size: 22px;
}

.jumbo-text{
    display: inline-block;
    padding-top: 350px;
    padding-left: 50px;
    padding-right: 40%;
    color:white;
    
}